#corner {
    background-color:blue;
    color:white;
    text-align:center;
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
    float:left;
    border-top: 30px solid #004060;
    border-bottom: 30px solid #004040;
    border-left: 30px solid #004060;
    border-right: 30px solid #000080;
    margin-right:auto;
    margin-left:auto;
}
#top {
    color:white;
    text-align:center;
    background-color:#000080;
    font-size: 40px;
    height:60px;
    padding:0px;
    margin:0px;
    width:100%;
    position:absolute;
    top:0;
    left:0;  
}
#nav {
    line-height:30px;
    color:white;
    height:100%;
    width:60px;
    padding:0px;
    margin:0px;
    position:absolute;
    top:0px;
    left:0; 
}
#nav .content {
    margin-left: 0px;
    margin-top: 60px;
    background-color:#004040;
    padding: 0px;
    height: 80%;
}

#section {
    position: absolute;
    top:0;
    left:0;
    z-index:-10;
    background-image: linear-gradient(#ff6060, yellow);
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#section .back {   
    margin-left: 60px;
    margin-top: 60px;
    padding: 0px;
}
#section .content {   
    margin-left: 12px;
    margin-top: 12px;
    padding: 0px;
}

.body {
    padding:40px;
    border:0px;
    margin:0px;
    background-color: green;
}

.h1 { font-size: 40px;
    font-family: "Comic Sans MS", Impact, Arial, sans-serif; }
