#corner {
    background-color:blue;
    color:white;
    text-align:center;
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
    float:left;
    border-top: 30px solid #004060;
    border-bottom: 30px solid #004040;
    border-left: 30px solid #004060;
    border-right: 30px solid #000080;
    margin-right:auto;
    margin-left:auto;
}
#top {
    color:white;
    text-align:center;
    background-color:#000080;
    font-size: 40px;
    height:60px;
    padding:0px;
    margin:0px;
}
#nav {
    line-height:30px;
    color:white;
    background-color:#004040;
    height:100%;
    width:60px;
    float:left;
    padding:0px;
    margin:0px;
}
#section {
    position: absolute;
    background-image: linear-gradient(red, yellow);
    top: 70px;
    left: 70px;
    float:left;
    padding:10px;
}

.body {
    padding:40px;
    border:0px;
    margin:0px;
    background-color: green;
}

.h1 { font-size: 40px;
    font-family: Verdana, Impact, Arial, serif; }
